body{
    background-color: rgb(17, 24, 39);
    text-align: center;
}
#divs{
    background-color: rgb(229, 231, 235, 0.5);
    border: black solid;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#container{
    background-color: rgb(229, 231, 235, 0.5);
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
#ASI{
    width: 30%;
    margin-left: auto;
}
#SCT{
    width: 70%;
}
#DVTR{
    background-color: rgb(245, 245, 220);
    margin-top: 1rem;
}
#DV{
    background-color:rgb(255, 255, 255);
    height: 700px;
}
.DVT{
    background-color: rgb(229, 231, 235);
    border: black solid;
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}

.navs{
    background-color: rgb(245, 245, 220);
    border: black solid;
    width: 97%;
    margin: auto;
    margin-bottom: 1rem;
    
}

.SCO{
    background-color: rgb(245, 245, 220, 0.5);
    border: black solid;
    width: 25%;
    margin: auto;
    margin-bottom: 1rem; 
    margin-top: 1rem; 
}

.PAR{
    background-color: rgb(245, 245, 220);
    border: black solid;
    width: 65%;
    margin-right: auto;
}
